* {
  margin: 0;
  padding: 0;
}
.active{
  background-color: blue;
}
.container{
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:60vw;

  font-size: 2vw;
  
  
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
}

.chat{
  background-color: black;
  color: white;
}

.main-room{
  display: flex;
  flex-direction: column;
}

.buttons-flex{
  display: flex;
}

.rooms{
  display: flex;
  flex-direction: column;
  background-color: purple;
}
.chat-box{
  overflow-y: scroll;
  height: 50vh;
}

.message{
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
}